.Form-Created{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: #595959;
}
.Form-Created form{
    background: #141414;
    width: 600px;
    height: 400px;
    border-radius: 4px;
    padding: 15px;
}
.Form-Created form .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}
.Form-Created form .wrapper input{
    width: 100%;
    padding: 10px;
    outline: none;
}
.Form-Created form select{
    width: 100%;
    padding: 10px;
    outline: none;
}